@font-face {
  font-family: "TitleFont";
  src: url("./fonts/Futura-Condensed-Extra-Bold.otf") format("opentype"),
}

@font-face {
  font-family: "BrushFont";
  src: url("./fonts/NanumBrushScript-Regular.ttf") format("truetype"),
}

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');


$tablet-width: 768px;
$desktop-width: 1024px;

$mobile-width: 425px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x:hidden;
}

h1 {
  font-family: 'TitleFont', sans-serif;
}

h2 {
  font-family: 'TitleFont', sans-serif;
  font-size: 50px;
}

h3 {
  font-family: 'TitleFont', sans-serif;
  font-size: 24px;
}

h4 {
  font-family: 'TitleFont', sans-serif;
  font-size: 22px;
}

p {
  font-family: 'Libre Baskerville', serif;
  line-height: 1.8em;
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}


section {
  padding: 50px 0;
}


.btn {
  padding: 15px;
  font-size: 16px;
  width: 100%;
  text-align: center;
  font-family: 'TitleFont', sans-serif;

  &--outline-white {
    background: transparent;
    color: white;
    border: 1px solid white;
  }

  &--black {
    background: black;
    color: white;
  }
}

.tagline {
  font-family: 'BrushFont', sans-serif;
  color: #e292ad;
  font-size: 38px;
}



.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background:yellow;
  background-image: url(./images/hero/bg.jpeg);
  background-size: cover;
  background-position: center;
  pointer-events: auto !important;

  &__mobile-menu {
    display: none;

    @include mobile {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;

      a {
        font-family: 'TitleFont', sans-serif;
        color: white;
        font-size: 20px;
        text-align: center;
      }
    }
  }

  &__topBar {
    padding: 10px;
    display: flex;
    justify-content: center;

    @include mobile {
      display: none;
    }

    p {
      color: white;
      opacity: 0.8;
    }
  }

  &__top {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include mobile {
      flex-direction: column;
    }

    h1 {
      font-size: 100px;
      text-align: center;
      color: white;
      max-width: 600px;
      line-height: 1em;

      @include mobile {
        font-size: 50px;
        width: 100%;
      }
    }

    .menu {
      display: flex;
      flex-direction: column;

      @include mobile {
        display: none;
      }

      a {
        font-family: 'TitleFont', sans-serif;
        color: white;
        font-size: 20px;
        text-align: center;
        margin: 10px 0;
      }

      &__info {
        transform: rotate(-5deg);
      }

      &__about {
        transform: rotate(10deg);
      }

      &__order {
        transform: rotate(-5deg);
      }

      &__retailer {
        transform: rotate(10deg);
      }
    }
  }

  &__middle {
    margin-top: 100px;

    @include mobile {
     display: none;
    }

    &__shoe {
      z-index: 2;

      img {
        width: 100%;
        margin: 0 auto;
        display: block;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;

      p {
        color: white;
      }

      a {
        margin-top: 10px;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: flex-end;

    @include mobile {
      display: none;
    }

    img {
     width: 15%;
    }
  }

  .attribute {
    position: absolute;

    &--smiley {
      top: 21% !important;
      left: 21% !important;
      width: 10%;

      @include mobile{
        top: 15% !important;
        left: 2% !important;
        width: 70px;
      }
    }

    &--sign {
      bottom: 0;
      left: 75px !important;
      top: auto !important;
      z-index: 5;
      width: 10%;

      @include mobile {
        display: none !important;
      }
    }

    &--moon {
      top: 35% !important;
      left: 11% !important;
      width: 4%;
    }

    &--brushText {
      left: auto !important;
      top: 24% !important;
      right: 17%;
      font-family: 'BrushFont', sans-serif;
      font-size: 60px;
      color: #e292ad;
      transform: rotate(10deg);

      @include mobile {
        top: 13% !important;
        right: 5%;
        left: auto !important;
        font-size: 30px;
      }
    }

    &--cloud {
      top:30% !important;
      right: 0% !important;
      left: auto !important;
      margin-left: -360px;
      animation: movingclouds 25s linear infinite;
    }

    &--cloud-1 {
      top:30% !important;
      left: 0% !important;
      margin-left: -360px;
      animation: movingclouds 25s linear infinite;
    }

    &--cloud-2 {
      top:30% !important;
      right: 0% !important;
      margin-left: -360px;
      animation: movingclouds 25s linear infinite;
    }

    &--jet {
      top: 34% !important;
      animation: flyingJet 25s linear infinite;
    }

    &--cactus {
      bottom: 0;
      left: 205px;
      z-index: 1;
    }

    &--shoe {
      bottom: 320px;
      z-index: 99;
      left: 75px;
    }

    &--cactus-right {
      bottom: 453px;
      left: 382px;
      z-index: 1000;

  }

    &--cactus-left {
      bottom: 238px;
      left: 77px;
      z-index: 1;

    }

    &--cactus-little {
      top: auto !important;
      bottom: 0;
      left: 200px !important;
      z-index: 1;
      width: 75px;

      @include mobile {
        left: 50px !important;
        bottom: 0;
        transform: scale(0.5) !important;
      }
    }

    &--skeleton {
      z-index: 100;
      bottom: 0;
      left: 84px;
  
    }

    &--flame-right {
      bottom: 340px;
      left: 320px;
      z-index: 2000;
    }

    &--flame-by-left-top {
      bottom: 700px;
      left: 20px;
      z-index: 1;
      transform: rotate(331deg);
    }

    &--flame-by-right-top {
      bottom: 753px;
      left: 182px;
      z-index: 1;
    }

    &--flame-left {
      bottom: 398px;
      left: -81px;
      z-index: 0;
      transform: rotate(331deg);
      z-index: 3;
    }

    &--heroBg {
      bottom: 0;
      top: auto !important;
      width: 100%;


      @include mobile {
        min-width: $mobile-width;
        margin-left: 0;
        left: 0;
      }
    }
  }

}

.info {
  position: relative;

  &__shoe {
    position: relative;

    .infoShoe {
      @include mobile {
        width: 100%;
        height: 100%;
      }
    }

    .shoe-mark {
      position: absolute;

      &--1 {
        top:17%;
        left: 25%;
      }

      &--2 {
        top:67%;
        left: 30%;
      }

      &--3 {
        top:47%;
        left: 55%;
      }
    }

    .shoe-tips {
      font-family: "BrushFont";
      color: #e292ad;
      font-size: 24px;
      position: absolute;

      &--1 {
        top: 23%;
        left: 3%;
      }

      &--2 {
        bottom: 15%;
        left: 3%;
      }

      &--3 {
        top: 35%;
        right: 12%;
      }
    }
    .shoe-arrow {
      position: absolute;

      &--1 {
        top: 33%;
        left: 10%;
      }

      &--2 {
        bottom: 3%;
        left: 10%;
      }

      &--3 {
        top: 55%;
        right: 15%;
      }
    }
  }

  &__content {
    max-width: 400px;
  }

  &__gallery {

    &__shoe {
      z-index: 99;
      margin-top: 100px;
      margin-right: 100px;
      @include mobile {
        width: 100%;
      }
    }

    &__mobile-composition {
      @include mobile {
        top: -500px;
      }
    }

    .gallery_obj {
      position: absolute;

      @include mobile {
        position: relative;
      }


      &--1 {
        bottom: 27%;
        left: 9%;
        z-index: 0;
        width: 150px;
      }


      &--2 {
        top: 47%;
        left: 7%;    
      }

      &--3 {
        top: 43%;
        left: 22%;
        z-index: 1;
      }

      &--4 {
        top: 55%;
        left: 22%;
      }

      &--5 {
        top: 74%;
        right: 39%;    
      }

      &--6 {
        top: 40%;
        right: 42%;
        z-index: 1;
      }

      &--7 {
        top: 60%;
        right: -30%;
        z-index: 1; 
      }
    }
  }

  &__description {
    max-width: 400px;
  }
}

.stores {
  position: relative;

  &__brand {
    max-width: 800px;
    margin: 0 auto;

    @include mobile {
      flex-direction: column;
    }

    img {
      @include mobile {
        margin-bottom: 50px;
      }
    }
  }

  &__bag {
    position: absolute;
    width: 20%;
    left: -50px;

    @include mobile {
      width: 38%;
      left: -30px;
      top: 40%;
    }
  }
}

.poster {
  position: relative;
  
  .abs-img {
    position: absolute;

    &--hoefijzer {
      right: -50px;
      top:20px;
      z-index: 100;

      @include mobile {
        left: -100px;
        top: 200px;
        right: auto;
        z-index: 0;
      }
    }

    &--sand {
      right: -250px;
      top: 0;
      z-index: 50;
      width: 50%;
    }

    &--splash {
      left: 2%;
      top: 33%;
      z-index: 0;

      @include mobile {
        width: 75%;
      }
    }
  }
  

  &__image {
    display: block;
    margin: 0 auto;
  }

  &__gallery {
    

    &__card {
      background: white;
      height: 100px;
      width: 100px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
      0 2px 4px 0 rgba(0,0,0,0.08);
    }
  }

  &__info {
    max-width: 400px;
  }

  &__features {
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    p {
      font-family: "TitleFont";
    }
  }

  &__shipping {
    border-bottom: 1px solid black;

    p {
      font-family: "TitleFont";
    }
  }
  &__info__order {
    p {
      font-family: "TitleFont";
    }
  }
}

.about {
  position: relative;

  .abs-img {
    position: absolute;

    &--sherif {
      top: -43%;
      right: -10%;
    }
  }
}

#border-bg {
  background-image: url('./images/paper-bg.png');
  background-size: 490%;
  background-position: center;
}

.cactus {
  bottom: 0;
  left: 50% !important;
  top: auto !important;
  margin-left: -240px;
  transform: scale(0.7) !important;

  @include mobile {
    transform: scale(0.7) !important;
    margin-left: -205px;
  }
}

@keyframes movingclouds {
  0% {margin-right: 0%;}
  100% {margin-right: 100%;}
}

@keyframes flyingJet {
  0% {left: 0%;}
  100% {left: 100%;}
}

@import './styles/signup';