@import './styles/media';
@import './styles/typography';
@import './styles/keyframes';
@import './styles/hero';
@import './styles/info';
@import './styles/poster';
@import './styles/stores';
@import './styles/about';
@import './styles/signup';
@import './styles/loader';

body {
  margin: 0;
  padding: 0;
}


section {
  padding: 50px 0;
  position: relative;

  @include mobile {
    padding: 25px 0;
  }
}

.section {
  &__intro {
    @include mobile {
      text-align: center;
    }
  }
}


.btn {
  padding: 15px;
  font-size: 16px;
  width: 100%;
  text-align: center;
  font-family: 'TitleFont', sans-serif;
  max-width: 400px;

  &--outline-white {
    background: transparent;
    color: white;
    border: 1px solid white;
  }

  &--black {
    background: black;
    color: white;
  }

  &--white {
    color: white;
    background: transparent;
    border: 1px solid white;
  }
}

.tagline {
  font-family: 'BrushFont', sans-serif;
  color: #e292ad;
  font-size: 38px;
  text-transform: uppercase;
}


#border-bg {
  background-image: url('./images/paper.jpg');
  background-size: 100%;
  background-repeat: repeat;
}

.cactus {
  bottom: 0;
  left: 50% !important;
  top: auto !important;
  margin-left: -240px;

  @include mobile {
    margin-left: -205px;
  }
}
